/* ----  titles  ---- */
.title-h1 {
    
}

.title-h2 {
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #f2785c;
    text-align: center;
    text-transform: uppercase;
}

.title-h3 {
    font-family: 'Aleo', sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #0d606f;
}

.title-h4 {
    font-family: 'Aleo', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #0d606f;
}
/* ----  end titles  ---- */
/* ----  hero  ---- */
.hero {
    background-color: #f4f4f4;
    padding: 110px 0 84px 0;
}

.hero__title {
    margin: 0 auto;
    margin-bottom: 74px;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    text-align: center;
}

.hero__text {
    margin: 0 auto;
    max-width: 1200px;
    font-weight: 400;
    font-size: 32px;
    line-height: 145%;
    text-align: center;    
}

@media screen and (max-width: 768px)  {
    .hero {
        padding: 130px 0 112px 0;
    }

    .hero__title {
        margin-bottom: 96px;
        font-size: 48px;
        line-height: 56px;
    }

    .hero__text {
        max-width: 640px;
        font-size: 26px;
    }
}

@media screen and (max-width: 420px)  {
    .hero {
        padding: 64px 0 74px 0;
    }

    .hero__title {
        margin-bottom: 60px;
        font-size: 36px;
        line-height: 42px;
    }

    .hero__text {
        font-size: 18px;
    }
}
/* ----  end hero  ---- */
/* ----  progress  ---- */
.progress__wrapper {
    display: flex;
}

.progress__item {
    width: 50%;
}

.progress__item:nth-child(2) {
    padding: 70px 0 20px 3.9vw;
}

.progress__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 40px;
    line-height: 145%;
}

.progress__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 145%;
}

.progress__image {
    height: 100%;
}

@media screen and (max-width: 1120px) {
    .progress__wrapper {
        flex-direction: column;
    }
    
    .progress__item {
        width: 100%;
    }

    .progress__item:nth-child(1) {
        height: 490px;
    }

    .progress__item:nth-child(2) {
        padding: 70px 0 20px 0;
    }
    
    .progress__image {
        margin: -5px -24px 0;
    }
}

/* ----  end progress  ---- */
/* ----  cartoons  ---- */
.cartoons {
    padding: 100px 0 140px;
    background-color: #f4f4f4;
}

.cartoons__title {
    margin-bottom: 60px;
    font-weight: 700;
    font-size: 40px;
    line-height: 145%;
    text-align: center;
}

.cartoons__wrapper {
    display: flex;
    justify-content: space-between;
}

.cartoons__item {
    width: 48.6%;
    height: 440px;
}

.cartoons__image {
    height: 100%;
}
/* ----  end cartoons  ---- */
/* ----  footer  ---- */

/* ----  end footer  ---- */
